.buttons{
  @include clearfix();
  padding: 20px 0; 
  .left{
       float:left;
  }
  .right{
      float:right;
  }
  
}

input[type="file"] {
  line-height: 20px;
}

.btn-outline-inverse{
  @include button-variant-outline($btn-default-color, $theme-color-secondary, $theme-color-secondary, $white, $theme-color-default , $theme-color-default );
} 
.btn-outline{
  @include button-variant-outline($white, $theme-color-default , $theme-color-default , $btn-default-color, $theme-color-secondary, $theme-color-secondary );
}
.form-control {
  box-shadow:none;
  &:focus {box-shadow:none;}
}
label {color:$black; font-weight:600;}

.btn {
   @include button-size($padding-base-vertical, $padding-base-horizontal, $font-size-button, $line-height-base, $border-radius-base);
   text-transform:uppercase;
   border:0;
   .fa {font-size:$font-size-base - 3px; @include rtl-margin-right(2px);}
}
