
#social_block {
  display:inline-block;
  text-align: center;
  width:100%;
  .#{$block-content-selector} {display: inline-block;}
  ul {
    @include rtl-float-left();
    margin-top: 0px;
    li {
      @include rtl-float-left();
      @include rtl-margin-right(10px);
      text-align: center;
      a {
        width: 32px;
        height: 32px;
        line-height: 32px;
        display: inline-block;
        font-size: $font-size-base !important;
        position: relative;
        z-index:1;
        background-color:$black;
        margin:0;
        span {
          display: none;
        }
        &:before {
          font-family: $font-icon;
         @include border-radius(2px);
          position: absolute;
          width: 100%;
          content: "";
          height: 100%;
          left: 0;
          color:$white;
        }
        &:hover {
          color: $white!important;
          &:before {
            @include border-radius(50%);
          }
        }
      }
      &.facebook {
        a {
          &:before {
            content: "\f09a";
          }
          &:hover {
              background-color:$brand-primary; 
          }
        }
      }
      &.twitter {
        a {
          &:before {
            content: "\f099";
          } 
          &:hover {
              background-color: $brand-info;
          }
        }
      }
      &.rss {
        a {
          &:before {
            content: "\f09e";
          }
          &:hover {
              background-color: $brand-danger;
          }
        }
      }
      &.youtube {
        a {
          &:before {
            content: "\f167";
          }
          &:hover {
              background-color: $brand-primary;
          }
        }
      }
      &.google-plus {
        a {
          &:before {
            content: "\f0d5";
          }
          &:hover {
              background-color: $brand-success;
          }
        }
      }
      &.pinterest {
        a {
          &:before {
            content: "\f0d2";
          }
          &:hover {
              background-color: $brand-warning;
          }
        }
      }
    }
  }
}

.bottom-footer {
  position: absolute;
  bottom: 0;
  @include rtl-left( 0);
  text-align: center;
}


//CSS Modules
//IMPORTANT - Internet Explorer can read 31 CSS files max. Some CSS have been put here and erased from their own module folder.

//Block ADVERTISING
.advertising_block {
  width: 191px;
  margin-bottom: 1em;
  text-align: center;
}

//footer
.blockcategories_footer ul ul {
  display: none !important;
}

// custom-footer
#htmlcontent_footer {
  .htmlcontent-home {
    border-top: $main_border;
  }
}

//Form validate
.form-group {
  &.form-error {
    input, textarea {
      border: 1px solid #f13340;
      color: #f13340;
      background-image: url(#{$image-theme-path}form-error.png);
      background-repeat: no-repeat;
      background-color: #fff1f2;
      @include rtl-background-position-percent(5px,98%);
    }
  }
  &.form-ok {
    input, textarea {
      border: 1px solid #46a74e;
      color: #35b33f;
      background: url(#{$image-theme-path}form-ok.png);
      background-repeat: no-repeat;
      background-color: #ddf9e1;
      @include rtl-background-position-percent(5px,98%);
    }
  }
  &.form-error, &.form-ok {
    .form-control {
      @include rtl-padding-right(30px);
    }
  }
}

//uniform
.radio-inline, .checkbox {
  @include rtl-padding-left(0);
  .checker {
    @include rtl-float-left();
    span {
      top: 0px;
    }
  }
  div.radio {
    display: inline-block;
    span {
      @include rtl-float-left();
      top: 0px;
    }
  }
}

.fancybox-skin {
  background: $light-background !important;
}

.fancybox-skin .fancybox-close {
  top: -8px;
  @include rtl-right(-8px);
  width: 28px;
  height: 28px;
  background: none;
  font-size: 28px;
  line-height: 28px;
  color: $base-text-color;
  text-align: center;
  &:hover {
    color: $link-hover-color;
  }
  &:after {
    content: "\f057";
    font-family: $font-icon;
  }
}

//Homepage pre-footer

#cmsinfo_block {
  em {
    @include rtl-float-left();
    width: 60px;
    height: 60px;
    margin: 3px 10px 0 0;
    font-size: 30px;
    color: #fff;
    line-height: 60px;
    text-align: center;
    background: lighten($base-heading-color, 10%);
    @include border-radius(100px);
    // max 991px
    @media (max-width: $screen-sm-max) {
      width: 30px;
      height: 30px;
      line-height: 30px;
      font-size: 20px;
    }
  }
  .type-text {
    overflow: hidden;
  }
  .cmsinfo_content {
    @include rtl-float-left();
    width: 100%;
  }
  h3 {
    margin: 0 ;
  }
  ul {
    li {
      padding-bottom: 22px;
      // max 1199px
      @media (max-width: $screen-md-max) {
        padding-bottom: 10px;
      }
      // max 991px
      @media (max-width: $screen-sm-max) {
        padding-bottom: 0;
      }
    }
  }
  p {
  em {
    background: none;
    @include border-radius(0);
    margin: 0;
    font-size: 13px;
    color: $text-color;
    float: none;
    height: inherit;
    line-height: inherit;
    @include rtl-text-align-left();
    font-style: italic;
  }
   }
}
.facebook-fanbox {
  overflow: hidden;
}
.ie8 {
  #facebook_block,
  #cmsinfo_block {
    height: 344px;
  }
}


// news letter
#footer{
  #newsletter_block_left{
    &.block{    
      .title_block{
          position: relative;
          color:$black;
      }
      input.btn{
        text-transform: uppercase;
        font-size:14px;
        padding-bottom:9px 10px;
      }
    }
  }
}


//Social Sharing
.socialsharing_product{
  .btn-facebook, .btn-twitter, .btn-google-plus, .btn-pinterest {
    background-color: $white;
    color: $base-text-color;
    font-weight:400;
    border:1px solid #dedede;
    &:hover {
      border-color: white;
    }
  }

  .btn-facebook {
    i {
      color: #435f9f;
    }
    &:hover {
      color: white;
      background-color: #435f9f;
      i {
        color: white;
      }
    }
  }

  .btn-twitter {
    i {
      color: #00aaf0;
    }
    &:hover {
      color: white;
      background-color: #00aaf0;
      i {
        color: white;
      }
    }
  }

  .btn-google-plus {
    i {
      color: #e04b34;
    }
    &:hover {
      color: white;
      background-color: #e04b34;
      i {
        color: white;
      }
    }
  }

  .btn-pinterest {
    i {
      color: #ce1f21;
    }
    &:hover {
      color: white;
      background-color: #ce1f21;
      i {
        color: white;
      }
    }
  }
}

// widgets module

.page-subheading {
    font-family: $font-family-base;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 16px;
    margin-top: 0;
    @include sub-heading($page-subheading-bg,$base-heading-color);
    margin-bottom: $grid-gutter-width;
    .block &{
      @include rtl-padding-left(0);
      margin-bottom: 0;

    }

}
.box-services {
  font-size: $font-size-base;
  width: 33%;
  margin-top: 50px;
  text-align:center;
  @include rtl-float-left();
  a {
    color:$black;
    &:hover {
        color:$theme-color-secondary;
      }
  }
  i {
    font-size:$font-size-base + 22; 
    margin-bottom:10px; 
    color:$black;
  }
  span {font-style:italic;}
  &:hover{
    cursor: pointer;
    h5, i {
      color: $link-hover-color;
    }
  }
}

.bullet.bullet-icon{
  li a{
    @include rtl-padding-left(45px);
    padding-top: 8px;
    padding-bottom: 8px;
    display: inline-block;
    &:before{
      width: 35px;
      height: 35px;
      text-align: center;
      padding-top: 8px;
      @include rounded-corners (50%);
      content: "\f095";
      background: #656d78;
      color: #fff;
    }
    &:hover:before{
      color: #fff;
      background: $footer-center-color-hover;
    }
  }
  
  li.email a{
     &:before{
       content: "\f0e0";
     }
  }
}