@import "compass";
@import "theme_variables";

.blockleoblogs {margin-top:30px;}
.blog_container {
	background: $light-background;
	position: relative;
	margin-bottom:20px;
	.blog-meta {
		font-size: $font-size-base - 2px;
		> * {
			margin-right: 5px;
		}
	}
	.blog-viewmore {margin-top:20px; display:none;}
	.blog-created {
		font-size: $font-size-base - 2;
	}
	.blog-created {
	  position: absolute;
	  top:0px ;
	  @include rtl-right(0);
	  background: $yellow-darker;
	  @include size( 50px, 50px);
	  text-align: center;
	  color: $black;
	  .day{
	    font-size: 22px;
	    display: block;    
	    line-height: 18px;
    	padding-top: 8px
	  }
	  .month{
	    font-size: 10px;
	    text-transform: uppercase;
	  }
	}
	.blog-info{
		h4 {
			margin: 20px 0;
			line-height: 25px;
			a {
				font-size: $font-size-base + 9;
				font-family: $font-family-base;
				color:$black;
				font-weight:300;
				text-transform:none;
				&:hover{
					color: $link-hover-color;
				}
			}
		}
	}
	.blog-image {
		position: relative;
		overflow: hidden;
		img {
			@include transition(all 0.5s ease-in-out 0s);
		}
		&:hover {
			img {
				 transform: scale(1.5);
				 -webkit-transform: scale(1.5);
				 -moz-transform: scale(1.5);
			}
		}
	}
}